.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.projetos .cabecalho{
    width: 80%;
    color: #656A7B;
}

.projetos .linha{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projetos .linha .card{
    width: 40%;
    margin: 2% 0;
}

.projetos .linha .card img{
    background-color: #07A1BD;
    width: 92%;
    height: 60%;
    padding: 4%;
    border-radius: 10%;
}

.projetos .linha .card .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #656A7B;
    font-size: 1em;
    margin: 0%;
}

.projetos .linha .card .footer .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projetos .linha .card .footer .botao{
    width: 28%;
    height: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: small;
    text-decoration: none;
    cursor: pointer;
}

.projetos .linha .card .footer .botao:hover{
    transform: scale(1.2);
    border: 1px solid #00FF7F;
    color: #00FF7F;
    
}