.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    color: #656A7B;
}

.home .name{
    width: 80%;
    text-align: right;
    font-size: 2em;
}

.home .name .rosa{
    color: #D46868;
}

.home .titulo{
    width: 80%;
    font-size: 3em;
    border: 2px solid #656A7B;
    text-align: center;
    margin-top: 5%;
    padding: 10px;
}

.home .titulo .verde{
    color: #00FF7F;
}

.home .citacao{
    width: 81%;
    direction: rtl;
    margin-right: 0;
    
}

.home .autor{
    width: 16%;
    border: 2px solid #656A7B;
    text-align: center;
    
}

.home a{
    width: auto;
    color: #656A7B;
    text-decoration: none;
}

.home .acenar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 15px;
    margin: 40% 0%;
    border: 1px solid #656A7B;
    border-radius: 20px;
    position: relative;
}

.home .acenar .diga{
    margin: 0 10px;
}

.home .acenar:hover{
    transform: scale(1.1);
    border: 2px solid #00FF7F;
    color: #00FF7F;
}

.home .acenar:hover span{
    animation: tchau 1s infinite alternate;
    color: #00FF7F;
}


@keyframes tchau {
    0% {
      transform: rotate(0deg);
    }
    50%{
        transform: rotate(45deg)
    }
    100% {
      transform: rotate(0deg);
    }
}

@media (max-width: 1440px) {
    .home .name{
        font-size: 1.5em;
    }

    .home .titulo{
        font-size: 2em;
    }
    
    .home .citacao{
        width: 82%;
        font-size: 0.8em;
        
    }
    
}

@media (max-width: 450px) {

    .home .name{
        width: 80%;
        font-size: 1em;
    }

    .home .titulo{
        font-size: 1em;
    }
    
    .home .citacao{
        width: 87%;
        font-size: 0.5em;
    }

    .home .autor{
        width: 28%;
    }

    .home .acenar{
        width: 70%;
        height: 10px;
        padding: 16px;
        margin: 20% 0%;
    }

    .home .acenar .material-symbols-outlined{
        font-size: 16px;
    }

    .home .acenar .diga{
        margin: 0 5px;
        font-size: 10px;
    }
}