.diferenciais{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diferenciais .cabecalho{
    width: 80%;
    color: #656A7B;
}

.diferenciais .linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.diferenciais .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 60px 24px;
    margin: 3%;
    border-radius: 10px;
    border: 2px solid #00FF7F;
    transition: all 0.5s;
}

.diferenciais .card:hover{
    transform: scale(1.1);
}

.diferenciais .card .icone{
    border: 1px solid #00FF7F;
    padding: 20px 20px;
    border-radius: 40px;
}

.diferenciais .card .name{
    font-size: 3em;
    color: #00FF7F;
    font-weight: 100;
    margin: 6px;
}

.diferenciais .card .texto{
    color: #656A7B;
    font-weight: 80;
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 450px) {

    .diferenciais .linha{
        justify-content: space-between;
    }

    .diferenciais .card{
        width: 30%;
        padding: 20px 24px;
        margin: 4% 0;
        justify-content: start;
        transition: none;
    }

    .diferenciais .card:hover{
        transform: none;
    }

    .diferenciais .card .icone{
        width: 10px;
        padding: 10px;
        border-radius: 8px;
    }

    .diferenciais .card .name{
        font-size: 1em;
    }

    .diferenciais .card .texto{
        margin: 10px 0;
        font-size: 11px;
    }
  
}