.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .cabecalho{
    width: 80%;
    color: #656A7B;
}

.skills .titulo{
    font-size: x-large;
    width: 80%;
    color: #00FF7F;
    font-weight: 300;
    margin-bottom: 10px;
}

.skills .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}

.skills .card{
    border: 1px solid #00FF7F;
    width: 24%;
    height: 200px;
    padding: 60px 24px;
    transition: all 1.0s;
    margin-bottom: 3%;
}

.skills .linha .card.last-card {
    border: none;
}

.skills .card:hover{
    margin: 10px;
    border-radius: 20px;
    transform: scale(1.1);
}

.skills .card .icone{
    border: 1px solid #00FF7F;
    padding: 14px;
    border-radius: 8px;
}

.skills .card .material-symbols-outlined{
    border: 1px solid #00FF7F;
    padding: 14px;
    border-radius: 8px;
    color: #00FF7F;
    font-size: 20px;
}

.skills .card .name{
    font-size: 1.5em;
    color: #00FF7F;
    font-weight: 100;
}

.skills .card .texto{
    color: #656A7B;
    font-weight: 80;
}


@media (max-width: 450px) {

    .skills .linha{
        flex-wrap: wrap;
    }
  
    .skills .card .name{
        font-size: 1em;
        color: #00FF7F;
        font-weight: 100;
    }

    .skills .card{
        width: 30%;
        height: 200px;
        padding: 20px 24px;
        margin: 2% 0;
    }

    .skills .card:hover{
        margin: 0px;
        border-radius: 0px;
        transform: none;
    }
    

    .skills .card .icone{
        width: 10px;
        padding: 10px;
        border-radius: 8px;
    }

    .skills .card .material-symbols-outlined{
        padding: 10px;
        font-size: 10px;
    }

    .skills .card .texto{
        color: #656A7B;
        font-size: 11px;
    }
}