*{
  background-color: #1C101B;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app .linha{
  width: 90%;
  border-color: #656A7B;
}

@media (max-width: 450px) {

  .app {
    width: 100vw;
  }

  .app .linha{
    width: 80%;
    border-color: #656A7B;
  }
  
}